<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-blue">
  <div class="container">
  <!-- ========================= SECTION SUBSCRIBE  ========================= -->
    <section class="section-subscribe padding-y-lg">
      <div class="container">
      
      <p class="pb-2 text-center text-white">RESTEZ CONNECTÉS</p>
      
      <div class="row justify-content-md-center">
        <div class="col-lg-5 col-md-6">
      <form class="form-row">
          <div class="col-md-8 col-7">
          <input class="form-control border-0" placeholder="Votre adresse email" type="email">
          </div> <!-- col.// -->
          <div class="col-md-4 col-5">
          <button type="submit" class="btn btn-block btn-info"> <i class="fa fa-envelope"></i> Souscrire </button>
          </div> <!-- col.// -->
      </form>
      <small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
        </div> <!-- col-md-6.// -->
      </div>
        
      
      </div>
    </section>
  <!-- ========================= SECTION SUBSCRIBE END// ========================= -->
      <section class="footer-bottom text-center">
              <p class="text-white">Tous droits réservés. Reproduction interdite sans l’autorisation de l’auteur © 2020 GOUPE GSTORESTOREPLUS</p>
              <p class="text-muted"> Design by GOUPE GSTORESTOREPLUS </p>
              <br>
      </section>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->