<div class="container">
  <div class="row">
    <div class="vertical-menu col-sm-2">
        <a class="active">Les categories</a>
        <div *ngFor="let cat of categories" class="dropright">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" matTooltip="{{cat.description}}">{{cat.nom}}
          </a>
          <div class="dropdown-menu">
            <div class="container">
              <div class="row">
                <div class="text-center col-sm-4">
                  <h3 class="border border-top-0 border-right-0 border-left-0">For Individuals</h3>
                  <a href="https://www.pramukhime.com/windows-application" class="dropdown-item">Windows Application</a>
                  <a title="Windows Application" href="https://www.pramukhime.com/windows-application" class="dropdown-item">Windows Application</a>
                  <a title="Android App" href="https://www.pramukhime.com/android-app" class="dropdown-item">Android App</a>
                </div>
                <div class="text-center col-sm-4">
                  <h3 class="border border-top-0 border-right-0 border-left-0">For Website Owners</h3>
                  <a title="WordPress Plugin" href="https://www.pramukhime.com/wordpress-plugin" class="dropdown-item">WordPress Plugin</a>
                  <a title="Drupal Module" href="https://www.pramukhime.com/drupal-module" class="dropdown-item">Drupal Module</a>
                  <a title="Joomla Extension" href="https://www.pramukhime.com/joomla-extension" class="dropdown-item">Joomla Extension</a>
                </div>
                <div class="text-center col-sm-4">
                  <h3 class="border border-top-0 border-right-0 border-left-0">For Developers</h3>
                  <a title="JavaScript Library" href="https://www.pramukhime.com/javascript-library" class="dropdown-item">JavaScript Library</a>
                  <a title="TinyMCE Plugin" href="https://www.pramukhime.com/tinymce-plugin" class="dropdown-item">TinyMCE Plugin</a>
                  <a title="CKEditor Plugin" href="https://www.pramukhime.com/ckeditor-plugin" class="dropdown-item">CKEditor Plugin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div id="carouselSite" class="carousel slide col-sm-8" data-ride="carousel">
        <ol class="carousel-indicators">
       <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
       <li data-target="#carouselSite" data-slide-to="1"></li>
       <li data-target="#carouselSite" data-slide-to="2"></li>
       <li data-target="#carouselSite" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/g.jpg" class="img-fluid">
            <div class="carousel-caption">
              <h3 style="color: #c51162">Nouvel arrivage</h3>
              <p style="color: #c51162"> materiel de qualité pour tous vos travaux</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/g1.jpg" class="img-fluid">
            <div class="carousel-caption">
              <h3 style="color: #c51162">Nouvel arrivage</h3>
              <p style="color: #c51162"> materiel de qualité pour tous vos travaux</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/g2.jpg" class="img-fluid">
            <div class="carousel-caption">
              <h3 style="color: #c51162">Nouvel arrivage</h3>
              <p style="color: #c51162"> materiel de qualité pour tous vos travaux</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/g3.jpg" class="img-fluid">
            <div class="carousel-caption">
              <h3 style="color: #c51162">Nouvel arrivage</h3>
              <p style="color: #c51162"> materiel de qualité pour tous vos travaux</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
          <i class="fa fa-chevron-circle-left" aria-hidden="true" id="element" ></i>
          <span class="sr-only">rétour</span>
        </a>
        <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
          <i class="fa fa-chevron-circle-right" aria-hidden="true" id="elementID"></i>
          <span class="sr-only">avance</span>
        </a>
      </div>
    <div class="menu-droite col-sm-2">
        <p class="cat">Payer à la livraison</p>
        <p class="cat">Retour facile</p>
        <p class="cat">Vendez sur Gstore</p>
      </div>

  </div>
  <div class="row">

            <div class="card col-sm-12">
              <h4 class="card-title">Voir plus</h4>
              <div class="card-body">

              </div>
            </div>


      </div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-brand"><a id="pramuimge-logo" title="Pramukh IME" href="https://www.pramukhime.com"><img src="https://www.pramukhime.com/wp-content/uploads/images/pramukhime-logo.png" alt="Pramukh IME home page"/></a></div>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav-1" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="main-nav-1">
        <ul class="navbar-nav">
          <li class="nav-item dropdown position-static"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#">Typing Software</a>
            <div class="dropdown-menu w-100 top-auto">
              <div class="container">
                <div class="row w-100">
                  <div class="text-center col-sm-4">
                    <h3 class="border border-top-0 border-right-0 border-left-0">For Individuals</h3>
                    <a href="https://www.pramukhime.com/windows-application" class="dropdown-item">Windows Application</a>
                    <a title="Windows Application" href="https://www.pramukhime.com/windows-application" class="dropdown-item">Windows Application</a>
                    <a title="Android App" href="https://www.pramukhime.com/android-app" class="dropdown-item">Android App</a>
                    <a title="FireFox Extension" href="https://www.pramukhime.com/firefox-extension" class="dropdown-item">FireFox Extension</a>
                  </div>
                  <div class="text-center col-sm-4">
                    <h3 class="border border-top-0 border-right-0 border-left-0">For Website Owners</h3>
                    <a title="WordPress Plugin" href="https://www.pramukhime.com/wordpress-plugin" class="dropdown-item">WordPress Plugin</a>
                    <a title="Drupal Module" href="https://www.pramukhime.com/drupal-module" class="dropdown-item">Drupal Module</a>
                    <a title="Joomla Extension" href="https://www.pramukhime.com/joomla-extension" class="dropdown-item">Joomla Extension</a>
                  </div>
                  <div class="text-center col-sm-4">
                    <h3 class="border border-top-0 border-right-0 border-left-0">For Developers</h3>
                    <a title="JavaScript Library" href="https://www.pramukhime.com/javascript-library" class="dropdown-item">JavaScript Library</a>
                    <a title="TinyMCE Plugin" href="https://www.pramukhime.com/tinymce-plugin" class="dropdown-item">TinyMCE Plugin</a>
                    <a title="CKEditor Plugin" href="https://www.pramukhime.com/ckeditor-plugin" class="dropdown-item">CKEditor Plugin</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item"><a title="Blog" href="https://www.pramukhime.com/blog" class="nav-link">Blog</a>
          </li>
          <li class="nav-item"><a title="Contact Us" href="https://www.pramukhime.com/contact-us" class="nav-link">Contact Us</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a title="My Account" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link">My Account</a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a title="Login / Register" href="https://www.pramukhime.com/my-account" class="dropdown-item">Login / Register</a>
              </li>
              <li class="nav-item">
                <a title="Account details" href="https://www.pramukhime.com/my-account/edit-account/" class="dropdown-item">Account details</a>
              </li>
              <li class="nav-item">
                <a title="Orders" href="https://www.pramukhime.com/my-account/orders/" class="dropdown-item">Orders</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron text-center">
    <h1>Enlightening Essays</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Developing a Child’s Mind Through Meditation</h3>
        <p>In today’s modern scientific age, one of India’s great contributions to global civilization is coming to the forefront – the practice of dhyan and mansi puja, or meditation. In fact, recent research has revealed that teaching children meditation and encouraging its daily practice provides them with the mental stability to cope with the rigours of today’s fast-paced lifestyle...<a href="https://www.baps.org/EnlighteningEssays/2018/Developing-a-Childs-Mind-Through-Meditation-14887.aspx"> More...</a></p>

      </div>
      <div class="col-sm-6">
        <h3>The Science and Spirituality of Fasting</h3>
        <p>American scientist and author, Benjamin Franklin, advised, “The best of all medicines is rest and fasting.” Mark Twain’s experience was similar, “A little starvation can really do more for the average sick man than can the best medicines and the best doctors. I do not mean a restricted diet. I mean total abstention from food for one or two days. I speak from experience. <a href="https://www.baps.org/EnlighteningEssays/2018/The-Science-and-Spirituality-of-Fasting-(Part-1)-14048.aspx">More...</a></p>
      </div>
    </div>
  </div>


  </div>



